.nav-menu {
  position: relative;
}

.menu-container {
  background-color: #343a40;  /* Dark Background */
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
}

.nav-menu:hover .menu-container {
  display: block;
}

.nav-item {
  display: block;  /* Add this to stack links vertically */
  padding: 12px;
  text-align: left;
  color: white;  /* Light text */
  border-bottom: 1px solid #555;  /* Add a subtle border */
  text-decoration: none;  /* Remove underlines */
}

.nav-item:last-child {
  border-bottom: none;
}



  